.avatar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: flex-start;
}
.profile-info {
  flex: 1;
  background-color: darkcyan;
  padding: 10px;
  border: 3px solid aquamarine;
  border-radius: 10px;
  max-width: 70%;
}
.form-area {
  background-color: transparent;
}
.title {
  font-size: 3em;
  color: #3498db;
}
.button-group {
  margin-top: 15px;
}
.button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}
.username {
  font-size: 2em;
  color: black;
}
.description {
  font-size: 1.2em;
}
.edit-bio-textarea {
  width: 100%;
  min-height: 100px;
  padding: 8px;
}
.user-info {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.balance-info {
  background-color: darkcyan;
  padding: 10px;
  border: 3px solid aquamarine;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#balance {
  margin-bottom: 10px;
}
#deposit-button {
  margin-top: 10px;
}
.warning-Messages {
  border-radius: 10px;
  background-color: darkcyan;
  font-family: Arial, sans-serif;
  border: 3px solid aquamarine;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.warning-Messages-Container{
  max-height: 250px; /* Adjust this value as needed */
  overflow-y: scroll;
}
.warning-Messages-Container a{
  text-decoration: none;
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: black;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.warning-Messages-Container a:hover{
  box-shadow: inset 300px 0 0 0 #074040;
  color: white;
}
.warning-Messages h3 {
  color: white;
  padding: 8px 16px;
  margin: 0;
  border-bottom: 1px solid #ddd;
  display: block; 
  text-decoration: none; 
  padding: 10px; 
  border-radius: 4px; 
  transition: background-color 0.3s ease;
   
}
.warning-Messages-Container p {
  margin-bottom: 30px;
}
.Title{
  margin-top: auto;
}
.userTitle{
  color: black;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  padding: 5px;
  margin-bottom: 20px;
  font-size: 40px;
}





