.avatar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: flex-start;
}
.profile-info {
  flex: 1;
  background-color: darkcyan;
  padding: 10px;
  border: 3px solid aquamarine;
  border-radius: 10px;
  max-width: 70%;
}
.form-area {
  background-color: transparent;
}
.title {
  font-size: 3em;
  color: #3498db;
}
.button-group {
  margin-top: 15px;
}
.button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}
.username {
  font-size: 2em;
  color: black;
}
.description {
  font-size: 1.2em;
}
.edit-bio-textarea {
  width: 100%;
  min-height: 100px;
  padding: 8px;
}
.user-info {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.balance-info {
  background-color: darkcyan;
  padding: 10px;
  border: 3px solid aquamarine;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#balance {
  margin-bottom: 10px;
}
#deposit-button {
  margin-top: 10px;
}