.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(51, 51, 51)414;
  }
  .logo {
    width: 200px;
    height: auto;
    border-radius: 30px;
    border: solid skyblue;
  }
  .selection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
  }
  .selection li {
    margin-right: 30px;
  }
  .selection a {
    font-size: 18px;
    color: skyblue;
  }