/*below is for the file SearchResultsList.jsx*/

.resultsList {
    width: 100%;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;
    max-height: max-content;
    overflow-y: scroll;
    margin-top: 1rem;
}

/*below is for the file SearchResults.jsx*/

.searchResult {
    padding: 10px 15px;
}

/*highlight the list items in result list when user move their mouse on it*/
.searchResult:hover {
    background-color: rgba(240, 248, 255, 0.308);
}
