.weather-box {
    background-color: rgb(31, 134, 182);
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  }
  
  .weather-box h2,
  .weather-box h3,
  .weather-box p {
    margin: 10 0 20px 0;
  }
  
  .weather-box p:last-child {
    margin-bottom: 10;
  }

  .weather-text{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
  }
  .weather-text2{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
  }
  .weatherInfo{
      color: black;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      padding: 5px;
      margin-bottom: 20px;
      font-size: 20px;
      
  }